Crash with timezone and day in dtend

Hello,
I encountered a crash with a calendar having event with:
DTEND;VALUE=DATE;TZID=Europe/Paris:20150814

the crash is : 
 PHP Fatal error:  Call to a member function setTime() on boolean in /var/www/agendav-1.2.6.2/web/application/libraries/Icshelper.php on line 426

If I modify it to : DTEND;VALUE=DATE:20150814
it works fine.

Regards
Damien

Hi Damien,

[RFC 5545, section 3.2.19](https://tools.ietf.org/html/rfc5545#section-3.2.19) states:

      The "TZID" property parameter MUST NOT be applied to DATE
      properties and DATE-TIME or TIME properties whose time values are
      specified in UTC.

AgenDAV should have handled it gracefully, but a TZID is not expected there.

Version 2.0.0-beta1 is about to be released (this week!), so perhaps you could try it instead of the old 1.2.6.2, which is unfortunately not going to receive more bugfixes.